@import '../../styles/variables.scss';

.header-container{
    background:$yellow-ml;

    .flex{
        align-items: center;
        padding:8px;
        position:relative;
        justify-content: space-between;
    }
}

.logo{
    height:36px;
    width:53px;
    a{
    background-image:url('../../assets/imgs/logo-ml.png');
    background-repeat: no-repeat;
    width:53px;
    height:36px;
    text-indent:-999px;
    margin-right:20px;
    cursor:pointer;
    position:absolute;
    }
}

.search-tool{
    width:calc(100% - 80px);
    position:relative;
    input{
        @include shadowGenerator(0px,1px,2px,rgba(0,0,0,.2));
        font-size:18px;
        height: 39px;
        padding: 7px 60px 9px 15px;
        border-radius:$radius;
        border: 0 rgba(0,0,0,.2);
        width:100%;
        padding-right:39px;
    }
    ::-webkit-input-placeholder { 
        color: $grey3;
    }
    :-ms-input-placeholder { 
        color: $grey3;
    }
    ::placeholder {
        color: $grey3;
    }
    button.search-button{
        background:$grey4;
        border: none;
        height: 39px;
        width:39px;
        position:absolute;
        right:0;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        cursor:pointer;
        i{
            width:18px;
            height:18px;
            display:block;
            margin:0 auto;
            background-image:url('../../assets/imgs/search-icon.png');
        }
    }
}

