//colors
$yellow-ml :#FFE600;
$grey : #333333;
$grey2 : #666666;
$grey3 : #999999;
$grey4 : #EEEEEE;
$blue : #3483FA;


$marginx1:16px;
$marginx2:28px;
$marginx3:32px;

$radius:4px;

//media query
$large-size:1200px;


//functions
@mixin shadowGenerator($height , $long ,$radio , $color){
    -webkit-box-shadow: $height $long  $radio $color;
    -moz-box-shadow: $height $long  $radio $color;
    box-shadow: $height $long  $radio $color;
}