//colors
$yellow-ml :#fff159;
$grey : #333;
$grey2 : #666;
$grey3 : #f3f1f1;

//logo
$logo-ml : "https://http2.mlstatic.com/ui/navigation/4.2.5/mercadolibre/logo__small.png";

//media query
$large-size:1024px;


//functions
@mixin shadowGenerator($height , $long ,$radio , $color){
    -webkit-box-shadow: $height $long  $radio $color;
    -moz-box-shadow: $height $long  $radio $color;
    box-shadow: $height $long  $radio $color;
  }